
homework/EDA-讀取資料與分析流程_HW/HomeCredit_columns_description.csv
homework/EDA-讀取資料與分析流程_HW/data/application_train.csv
homework/EDA-讀取資料與分析流程_HW/Day_004_first_EDA.ipynb
homework/Day_006_範例檔案-2/data/application_train.csv
homework/Day_006_範例檔案-2/data/application_test.csv
homework/Day_008_EDA/data/application_train.csv
